
@theme {
  --animate-shimmer: shimmer 2s linear infinite;
  --animate-shine: shine 1s ease-in-out infinite;
  
  @keyframes shimmer {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }
  @keyframes shine {
    100% {
      transform: translateX(100%);
    }
  }
}
